version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/docker/gtsam"
    schedule: 
      interval: "monthly"

  - package-ecosystem: "pip"
    directory: "/docs/plots"
    schedule:
      interval: "monthly"

  - package-ecosystem: "pip"
    directory: "/docs/diagrams"
    schedule:
      interval: "monthly"
