**/build
**/install
**/log
**/build_isolated
**/install_isolated
**/devel_isolated

bags/*
!bags/.gitkeep
coug_ws/src/*
!coug_ws/src/coug_*
!coug_ws/src/holoocean_*

__pycache__
.vscode
.venv
.DS_Store
core

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.toc
*.lot
*.lof
*.bbl
*.blg

*.ipynb
