**/build
**/install
**/log
**/build_isolated
**/install_isolated
**/devel_isolated
core

.mapproxy/*
!.mapproxy/.gitkeep
bags/*
!bags/.gitkeep
ros2_ws/src/*
!ros2_ws/src/coug_bringup
!ros2_ws/src/coug_description
!ros2_ws/src/coug_localization
!ros2_ws/src/coug_mapviz
!ros2_ws/src/coug_navigation
!ros2_ws/src/coug_plotjuggler
!ros2_ws/src/coug_rqt
!ros2_ws/src/coug_rviz
!ros2_ws/src/holoocean_bridge
!ros2_ws/src/sensor_bridge
!ros2_ws/src/packages.repos

__pycache__
.venv
.vscode
.DS_Store

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.toc
*.lot
*.lof
*.bbl
*.blg
